---
layout: default
---

<div class="artworks">
  {% for image in site.static_files %}
    {% if image.path contains "images/art/" %}
      <h4>{{ image.name | replace:"_"," " | replace:".jpg","" }}</h4>
      {% if image.path contains "/landscape/" %}
        <img class="landscape artwork" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.path }}" />
      {% endif %}
      {% if image.path contains "/portrait/" %}
        <img class="portrait artwork" src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.path }}" />
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
