---
layout: page
---

<div class="artworks">

  {% assign image_format = "jpg" %}
  {% capture to_use_path %}/images/art/{{ page.medium }}/{% endcapture %}

  {% for collection in site.collections %}
    {% if collection.label == page.medium %}

      {% assign sorted_by_priority = collection.docs | sort: 'priority' %}
      {% for artwork in sorted_by_priority  %}
        <div class="artwork">

          <h4>{{ artwork.title }}, {{ artwork.year }}</h4>

          {% if artwork.multiview %}

            {% for i in (1..artwork.views) %}
              {% capture image_source %}{{ to_use_path }}{{ artwork.image }}_{{ i }}.{{ image_format }}{% endcapture %}
              <img class="{{ artwork.orientation }}" src={{ image_source }} alt="{{ artwork.title }}">
            {% endfor %}

          {% else %}
            <img class="{{ artwork.orientation }}" src="{{ to_use_path }}{{ artwork.image }}" alt="{{ artwork.title }}">
          {% endif %}

      </div>
      {% endfor %}

    {% endif %}
  {% endfor %}

</div>

